@use "../../styles/variables";
@import "../../styles/mediaqueries";

.cardListSection {
  padding: 80px 15px 0px;
}

.cardsSectionTextContent {
  padding-bottom: 20px;
}

.cardsSectionHeadline {
  color: variables.$fc-main;
  font-weight: 700;
  text-transform: uppercase;
}

.cardsSectionText {
  padding-top: 5px;
  color: variables.$fc-text;
}

.homeTextSection {
  padding: 100px 15px 100px;
}

.homeTextSection p {
  color: #666;
}

.call {
  color: variables.$bgc-main;
  font-weight: 700;
  font-size: variables.$fs-x;
  text-transform: uppercase;
}

.headline {
  padding: 20px 0px 5px;
}

.pictureWrapper {
  display: flex;
  justify-content: center;
}

.picture {
  width: calc(100% - 30px);
  padding: 0px 15px 50px;
}