@use "../../styles/variables";
@import "../../styles/mediaqueries";

.sectionWrapper {
  padding: 50px 15px 100px;
}

.cardsSectionHeadline {
  color: variables.$fc-main;
  font-weight: 700;
  text-transform: uppercase;
}

.cardsSectionText {
  padding: 5px 0px 50px;
  color: variables.$fc-text;
}

.articleListWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include devices(mobile) {
    row-gap: 20px;
  }
}

.articleItemWrapper {
  width: 30%;
  padding: 10px;
  border: 5px solid variables.$bgc-second;
  border-radius: 15px;

  @include devices(mobile) {
    width: 100%;
  }
}

.articleItemWrapper a {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  color: variables.$fc-main;
  font-weight: 700;
}

.articleItem img {
  width: 100%;
}

.articlePageContentWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.articlePageContentWrapper p {
  font-size: 20px;
}