@use "../../../styles/variables";
@import "../../../styles/mediaqueries";

.wrapper {
  padding: 50px 15px 100px;

  @include devices(mobile) {
    padding: 50px 15px 25px;
  }
}

.headline {
  color: variables.$fc-main;
  font-weight: 700;
  text-transform: uppercase;
}

.favoritesWrapper svg,
.cartProductsWrapper svg {
  width: 30px;
}

.favoritesHeadline,
.cartProductsHeadline {
  padding-top: 5px;
  color: variables.$fc-text;
}

.cardItemWrapper {
  display: flex;
  column-gap: 5px;
}

.routesLinkWrapper {
  display: flex;
  justify-content: center;
}

.routesLink {
  color: variables.$fc-main;
}

.routesLink:hover {
  text-decoration: underline;
}

.dataWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  @media screen and (min-width: 320px) and (max-width: 720px) {
    flex-direction: column;
    row-gap: 20px;
  }
}

.customerDataWrapper {
  width: 45%;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.125);

  @media screen and (min-width: 376px) and (max-width: 720px) {
    width: 350px;
  }
  @media screen and (min-width: 320px) and (max-width: 375px) {
    width: 100%;
  }
}

.customerDataWrapper h3 {
  padding-bottom: 20px;
}

.name {
  display: flex;
  justify-content: space-between;
}

.name p {
  width: 230px;
}

.iconsSectionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;

  @include devices(tablet) {
    width: 45%;
  }
  @media screen and (min-width: 376px) and (max-width: 720px) {
    width: 100%;
    justify-content: flex-start;
    column-gap: 20px;
  }
  @media screen and (min-width: 320px) and (max-width: 375px) {
    width: 100%;
    flex-direction: column;
  }
}

.cartDataWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iconSection {
  display: flex;
  justify-content: space-around;
  width: 100%;

  & p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}