@use "../../../styles/variables";
@import "../../../styles/mediaqueries";

.ordersWrapper {
  margin-top: 50px;

  & h2 {
    padding-bottom: 20px;
  }
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  width: 200px;

  @include devices(mobile) {
    justify-content: space-around;
    width: 100%;
  }
}

.button {
  cursor: pointer;
  color: #7c8d66;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.hidden {
  display: none;
}

.ordersList {
  max-height: 500px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 30px;
}

// order
.noPurchaseYet {
  text-align: center;
}

.orderWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 1px solid variables.$border-color-main;
  padding: 10px;

  @media screen and (min-width: 320px) and (max-width: 600px) {
    flex-direction: column;
    row-gap: 20px;
  }
}

.orderNoWrapper {
  width: 300px;
  display: flex;
  justify-content: space-around;
  column-gap: 20px;
  @media screen and (min-width: 320px) and (max-width: 600px) {
  }
  @include devices(mobile) {
    width: 100%;
  }
}

.orderNo,
.orderItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orderItems {
  width: 60%;
  display: flex;
  row-gap: 20px;

  @include devices(mobile) {
    width: 100%;
  }

  & div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d1e2bb;
  }
}

.name {
  width: 300px;

  @include devices(mobile) {
    width: 70%;
  }
}

.name,
.price,
.cartQuantity {
  width: 33%;
  display: flex;
}

.price,
.cartQuantity {
  justify-content: center;
}