@use "../../styles/variables";
@import "../../styles/mediaqueries";

.subCategoryOptions{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  // width: 350px;

  @include devices(mobile) {
    width: 300px;
  }
}

.cardListLaptop {
  @include devices(laptop) {
    padding-left: 220px;
  }
}

.categoryOptionWrapper {
  @include devices(mobile) {
    display: flex;
    flex-direction: column;
    width: 100%;

    & h3 {
      display: flex;
      justify-content: center;
    }
  }
}

.categoryOption {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.categorySelect {
  position: absolute;
  top: -20px;
  left: 0;

  @include devices(mobile) {
    position: static;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.buttonLinksWrapper {
  margin: 0 10px;
}

.filtrationWrapper {
  display: flex;
  width: 100%;
  padding: 30px 0px 20px;
  position: relative;

  @include devices(mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  & p {
    padding-bottom: 15px;
    color: variables.$fc-text;

    @include devices(mobile) {
      padding-bottom: 20px;
    }
  }
}

.filtrationSelectWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  

  @include devices(mobile) {
    align-items: center;
    padding-bottom: 25px;
    width: 280px;
  }
}



.filtration {
  display: flex;
  flex-direction: column;
  width: 220px;

  @include devices(tablet) {
    padding-right: 0px;
    width: 200px;
  }

  @include devices(mobile) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
    width: 100%;
  }
}


.customCheckbox {
  position: relative;
  width: 1rem;
  height: 1rem;
  appearance: none;
  border: none;
  cursor: pointer;
  border-radius: 0;
  background-color: transparent;
}
.customCheckbox:checked:before {
  background: #c6d9d9;
}
.customCheckbox:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0.0625rem solid #c6d9d9;
  background-color: transparent;
  transition: background-color 0.2s;
}

.customCheckbox:checked:after {
  width: 0.75rem;
  height: 0.375rem;
  border-color: #536060;
}

.customCheckbox:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  transform: rotate(-45deg);
  border-bottom: 0.125rem solid transparent;
  border-left: 0.125rem solid transparent;
}
.checkbox__body {
  padding-right: 2px;
}
.checkboxLabel {
  display: flex;
  margin-left: 0.5rem;
  justify-content: center;
}


.filtrationOptions {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.select {
  padding: 5px 25px;

  @include devices(mobile) {
    width: 200px;
  }
}

.spinnerWrapper {
  @include devices(laptop) {
    width: 800px;
    display: flex;
    justify-content: center;
  }

  @include devices(mobile) {
    padding-top: 50px;
  }
}

.spinnerWrapper2 {
  @include devices(laptop) {
    width: 800px;
    display: flex;
    justify-content: center;
  }

  @include devices(tablet) {
    width: 500px;
  }

  @include devices(mobile) {
    padding-top: 50px;
  }
}