.deliveryTitle {
  font-size: 26px;
  line-height: 1.1875;
  color: #3d3d3d;
  text-align: center;
  margin-bottom: 12px;
}
.deliverySubtitle {
  text-align: center;
  margin-bottom: 8px;
  line-height: 1.4;
}
.deliveryText {
  margin-bottom: 0.6rem;
  color: #666;
}
.strongText {
  color: #3d3d3d;
}
