/* fonts size */
$fs-sx: 12px;
$fs-s: 14px;
$fs-m: 15px;
$fs-l: 18px;
$fs-x: 20px;
$fs-xxl: 28px;

/* fonts color */
$fc-main: #7c8d66;
$fc-text: rgb(61, 61, 61);
$fc-info-hidden: rgb(133, 133, 133);
$fc-hot: rgb(255, 140, 0);
$fc-attention: rgb(255, 51, 0);
$fc-price: #000;

/* background color */
$bgc-main: #7c8d66;
$bgc-second:rgb(193 189 189 / 9%);
$bgc-hot: rgb(255, 140, 0);
$bgc-attention: rgb(255, 51, 0);

/* border color */
$border-color-second: rgb(240, 240, 240);
$border-color-main:  #7c8d66;
$border-color-decor: rgb(244, 244, 244);

/*color for text: */
$main-text-color: #3d3d3d;