@use "../../styles/variables";
@import "../../styles/mediaqueries";

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mobileHeader {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  padding: 40px 10px 40px 10px;
  position: relative;

  @media screen and (min-width: 375px) {
    height: 140px;
    padding: 30px 10px 35px 10px;
  }
  @include devices(tablet) {
    height: 140px;
    padding: 30px 15px 35px 15px;
  }
  @media screen and (max-width: 1023px) {
    display: flex;
    // flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.inputMobileHeader {
  width: 80%;
  padding: 10px 10px;
  background-color: variables.$bgc-second;
  border-radius: 10px;
  border: 1px solid variables.$border-color-main;
}

.buttonMobileHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: variables.$bgc-main;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.headerLaptop {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px 0px 18px;
  margin: 0px 15px 12px;
  border-bottom: 1px solid variables.$border-color-second;

  @media screen and (max-width: 1023px) {
    display: none;
  }

  @include devices(tablet) {
    justify-content: space-between;
  }
}

.logo {
  width: 100px;

  @media screen and (min-width: 375px) and (max-width: 424px) {
    width: 130px;
  }
  @media screen and (min-width: 425px) and (max-width: 767px) {
    width: 150px;
  }
  @include devices(tablet) {
    width: auto;
  }
  @include devices(laptop) {
    width: auto;
  }
}

.logoImgWrapper {
  height: 45px;

  @media screen and (min-width: 375px) {
    height: 55px;
  }
  @media screen and (min-width: 425px) {
    height: 65px;
  }
  @include devices(tablet) {
    height: 75px;
  }
  @include devices(laptop) {
    height: 75px;
  }
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // justify-content: space-between;
  width: 100%;
}

.nav {
  align-items: center;
  justify-content: center;
  width: 100%;

  @include devices(laptop) {
    // display: flex;
    // justify-content: space-around;
    // width: 500px;
    padding: 0px 100px;
  }
}

.navItem {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;

  @include devices(mobile) {
    display: none;
    height: 200px;

    &.active {
      display: flex;
      flex-direction: column;
      max-height: 500px;
    }
  }

  @include devices(tablet) {
    gap: 10px;
    font-size: 16px;
  }

  @media only screen and (min-width: 800px) {
    display: flex;
    font-size: 16px;
  }
}

.navList {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;

  &:hover {
    box-sizing: border-box;
    border-color: #5b7742;
    cursor: pointer;
  }

  @include devices(tablet) {
    border-bottom: 1px solid transparent;
  }

  &.navItemLaptop {
    display: none;

    @media only screen and (min-width: 1024px) {
      display: flex;
    }
  }

  &.navItemTablet {
    display: flex;

    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }
}

.navLink {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  transition: text-shadow 0.2s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: max-content;
  height: 150px;
  justify-content: space-around;
  padding: 10px 10px 15px;
  background-color: variables.$border-color-decor;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdownContent a {
  padding: 10px 0px 5px;

  &:hover {
    color: #5d684f;
  }
}

.dropdownItemAllCategories {
  @include devices(laptop) {
    display: none;
  }
}

.navRightSideMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.headerLaptopIcons {
  display: flex;
  justify-content: space-between;
}

.navSearch {
  height: 20px;
}

.search {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}

.searchHidden {
  width: 100%;
}

.hidden {
  display: none;
}

.searching {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 40px;
  justify-content: flex-end;

  // @include devices(mobile) {
  //   flex-direction: column;
  // }
}

.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.input {
  padding: 0 10px;
  margin-left: 20px;
  background-color: variables.$bgc-second;
  border: 1px solid #7c8d66;
  border-radius: 5px;
  width: 100%;
}

input:focus {
  border: 1px solid #7c8d66;
  outline: none;
}

.iconSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 35px;
  cursor: pointer;
}

.icon,
.iconMobile {
  display: flex;
  align-items: center;
  width: 25px;
}

.iconMobile {
  width: 35px;
}

.searchButtons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #7c8d66;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.closeSearchBtn {
  width: 40px;
}

.navCart {
  height: 24px;
}

.navButton {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  color: #fff;
  background-color: variables.$bgc-main;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.wrapperMenu {
  display: none;

  // @include devices(mobile) {
  //   display: flex;
  //   align-items: center;
  // }
  @media screen and (max-width: 1023px) {
    display: flex;
    align-items: center;
  }
}

.toggleButton {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 30px;

  @media screen and (min-width: 375px) {
    width: 35px;
    height: 45px;
  }

  .bar {
    background-color: variables.$bgc-main;
    height: 2px;
    width: 100%;
    margin: 2px 0px;
    transition: 0.3s ease;
    border-radius: 5px;

    @media screen and (min-width: 375px) {
      height: 3px;
      margin: 5px 0px;
    }
    @media screen and (min-width: 768px) {
      margin: 0px;
    }
  }
}

.toggleCloseButton {
  position: relative;
  margin-bottom: 5px;

  @media screen and (min-width: 768px) {
    margin-left: 5px;
    height: 40px;
  }

  .bar {
    position: absolute;
    left: 0;
    top: 50%;
    transform-origin: center;

    // @media screen and (min-width: 768px) {
    // }
  }

  &.cross {
    .bar:nth-child(1) {
      transform: translateY(-50%) rotate(-45deg);
    }

    .bar:nth-child(2) {
      transform: translateY(-50%) rotate(45deg);
    }
  }
}

.menuWrapper {
  padding: 40px 10px 0px;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #fff;
}

.menuWrapper.open {
  width: 100%;
}

.menuListWrapper {
  position: fixed;
  width: 100%;
}

.menuList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuItem {
  padding: 10px;
  text-decoration: none;
  color: #333;
  display: block;
  transition: 0.3s ease;
}

.menuItem:hover {
  background-color: #f2f2f2;
}

.iconsWrapper,
.iconsWrapperLogOut {
  width: 120px;
  position: fixed;
  top: 300px;
  left: 37.5%;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.iconsWrapperLogOut {
  left: 48%;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    height: 60px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchResults {
  position: absolute;
  width: calc(100% - 20px);
  font-size: variables.$fs-s;
  top: 45px;
  left: 20px;
  border-radius: 5px;
  background: #eee;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
}

.searchResultItem,
.searchResultCategories {
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}

.searchResultCategories {
  color: variables.$fc-main;
  font-weight: 700;
  text-transform: uppercase;
}

.categoryName {
  font-size: 15px;
  font-weight: 700;
  color: variables.$fc-main;
  padding: 10px;
  margin-left: 10px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .searchResultItem,
  .searchResultCategories {
    padding: 10px 10px;
  }
}
