@use "../../styles/variables";
@import "../../styles/mediaqueries";

.cardsSectionWrapper {
    padding: 50px 15px 100px;
  
    @include devices(mobile) {
      padding: 50px 15px 25px;
    }
}

  .cardsSectionHeadline {
    color: variables.$fc-main;
    font-weight: 700;
    text-transform: uppercase;
}

.cardsSectionText {
    padding-top: 5px;
    color: variables.$fc-text;
}

.cardsListWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    column-gap: 10px;
    row-gap: 20px;

    @include devices(mobile) {
        column-gap: 30px;
    }
    @media only screen and (min-width: 1201px) {
        column-gap: 50px;
    }

    & a {
        display: flex;
        justify-content: center;
    }
}